.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 364px;
  margin-right: 364px;
}

.items__header {
  width: 940px;
  display: flex;
  background-color: #f9f5f0;
  p {
    font-size: 30px;
    width: 621px;
    margin-right: 10px;
    margin-left: 30px;
    text-transform: uppercase;
    font-family: "Cuprum", "PTSans", sans-serif;
    color: #32425c;
  }
  .items__header--button {
    width: 253px;
    height: 38px;
    margin-right: 24px;
    margin-top: 28px;
    padding-left: 56px;
    font-family: "Cuprum", "PTSans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #ee3643;
    border: none;
    border-radius: 5px;
  }
}
